<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DontAddThisBot - Code</title>
        <meta name="viewport" context="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/joinButton.css">
    </head>

    <body>
        <script src="js/botcmds.js">
        </script>
        <script>
            function disableJoin () {
                document.getElementById("joinOnCode").disabled = true;
            }
        </script>
        <div class="wrapper">
            <article class="img-info">
                <img class="poro" src="img/poroHappy.png">
                <a class="Datb" href="/">
                    <strong>DontAddThisBot</strong>
                </a>

                <a class="Leaderboard1" href="/leaderboard">Leaderboard</a>
                <a class="Commands" href="/commands">Commands</a>
                <a class="Search" href="/search">Search</a>
                <a class="Github" href="https://github.com/kattah7" target="_blank">
                    <img src="img/githublogo.png">
                </a>
            </article>

            <article class="OtherRelated">
                <div class="Information">
                    <h3>Todays Code: crazy!</h3>
                    <p>Following the bot on Twitch <br>will give you free 100 poros</p> 
                    <% if (inChannel) { %>
                        <h3>Thank you for adding the bot!</h3>
                    <% } else { %>
                        <p>Also Clicking the Join button will give 100 poros</p>
                        <button class="btn draw-border" id="joinOnCode" onclick="disableJoin()">Click to Join</button>
                    <% } %>
                </div>
            </article>
        </div>
    </body>
</html>