<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
    <title>DontAddThisBot - Code</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div>
    <center>
        <table>
            <thead>

            <tr>
                <img src="img/poroHappy.png"width="50" height="50"style = "position:relative; left:-350px; top:15px;text-align: center;right:0;">
                <a style = "position:relative; left:-330px; top:0px;text-align: center;right:0;font-size: 20px" href="/"><strong>DontAddThisBot</strong></a>
            </tr>
            <tr>
                <a href="/leaderboard" style = "position:relative; left:140px; top:0px;text-align: center;right:0;">Leaderboard</a>
            </tr>
            <tr>
                <a href="/commands" style = "position:relative; left:180px; top:0px;text-align: center;right:0;">Commands</a>
            </tr>
            <tr>
                <a href="/search" style = "position:relative; left:220px; top:0px;text-align: center;right:0;">Search</a>
            </tr>
            <tr>
                <a  href=https://github.com/kattah7 target="_blank"><img src="img/githublogo.png"width="40" height="40"style = "position:relative; left:270px; top:10px;text-align: center;right:0;"></a>
            </tr>


            </thead>
        </table>
        <table>
            <thead>
            <tr>
                <a style = "position:relative; left:0px; top:250px;text-align: center;right:0;">
                    something too dank
                </a>
            </tr>
            </thead>
        </table>
    </center>
</div>
</body>
</html>