<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
    <title>DontAddThisBot - Commands</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <script src="js/Commands.js">
    </script>
    <script src="js/minicmds.js">
    </script>
    <script src="js/moderationcmds.js">
    </script>
    <script src="js/porocmds.js">
    </script>
    <div>
        <a  href="/">
        <img src="https://cdn.7tv.app/emote/61e9ca830aadf8d57da4d620/4x"alt="">
        </a>

        <br>
        <h1>Commands</h1>
        <br>
        <h2>Default prefix: |</h2>
    </div>
    <center>
        <table style = "position:relative; left:0px; top:15px;text-align: center;right:0;" >
            <thead>
               
                    <tr>
                        <th><button onclick=show_hide() style="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;">Poro Commands </button></th>
                        <th><button onclick=show_hide2() style="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;">Utility Commands </button></th>
                        <th><button onclick=show_hide3() style="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;">Description </button></th>
                    </tr>
              
                
            </thead>
            </table>
        </center>
            <table hidden id="kekw" >
                <tr>
                    <td><button onclick=poro() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">poro</button></td>
                    <td></td>
                    <td style="width:100%"><br><button onclick=poro() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Get poro meat every 2 hours.</button><br><br>
                    <p hidden id="poro"><img src="https://i.imgur.com/XnxjT2e.gif"style="position:relative; left:-400px; top:0px; width: 700px;height:200px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=poroCount() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">poros</button></td>
                    <td></td>
                    <td style=><br><button onclick=poroCount() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Check porocount of a user.</button><br><br>
                        <p hidden id="poroCount"><img src="https://i.imgur.com/HXG7Ou1.gif"style="position:relative; left:-400px; top:0px; width: 550px;height:200px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=cdr() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Cooldown Reset (cdr)</button></td>
                    <td></td>
                    <td style=><br><button onclick=cdr() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Reset 2h cooldown, only available every 3 hours. </button><br><br>
                        <p hidden id="cdr"><img src="https://i.imgur.com/QWTVZax.gif"style="position:relative; left:-400px; top:0px; width: 500px;height:100px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=redeem() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">redeem</button></td>
                    <td></td>
                    <td style=><br><button onclick=redeem() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Guess the code for free poro meat, code resets every 24hr</button><br><br>
                        <p hidden id="redeem"><img src="https://i.imgur.com/MvqT2P3.gif"style="position:relative; left:-400px; top:0px; width: 550px;height:100px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=setcolor() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">setcolor</button></td>
                    <td></td>
                    <td style=><br><button onclick=setcolor() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Change bot's name color with 50 poro meat, only # hex code</button><br><br>
                        <p hidden id="setcolor"><img src="https://i.imgur.com/2ImCinI.gif"style="position:relative; left:-400px; top:0px; width: 450px;height:150px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=changename() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">changename</button></td>
                    <td></td>
                    <td style=><br><button onclick=changename() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Change bot's display name with 50 poro meat.</button><br><br>
                        <p hidden id="changename"><img src="https://i.imgur.com/OhrJoej.gif"style="position:relative; left:-400px; top:0px; width: 650px;height:200px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="/leaderboard" style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">leaderboard</a></td>
                    <td></td>
                    <td><br><a  href="/leaderboard" style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Click for leaderboard </a><br><br>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=prestige() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">prestige</button></td>
                    <td></td>
                    <td><br><button onclick=prestige() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Prestige with 10,000 meat </button><br><br>
                        <p hidden id="prestige"><img src="https://i.imgur.com/AUpRBDy.gif"style="position:relative; left:-400px; top:0px; width: 600px;height:100px;"></p>
                    <td></td>
                </tr>
                <tr>
                    <td><button  style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">rank</button></td>
                    <td></td>
                    <td><br><button style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;"> Check your/someone's rank in the leaderboard</button><br><br>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick=giveporo() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">give</button></td>
                    <td></td>
                    <td style=><br><button onclick=giveporo() style ="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;font-family:montserrat, sans-serif;">Give poro to another user, (Must have above 100 and registered for more than 7 days)</button><br><br>
                        <p hidden id="giveporo"><img src="https://i.imgur.com/rJEF6Xy.png"style="position:relative; left:-400px; top:0px; width: 850px;height:150px;"></p>
                    <td></td>
                </tr>
            </table>
            <center>
            <table style = "position:relative; top:150px;left:20px; top:30px;" hidden id="kekw2" alt="">
                <thead>
                    <tr>
                        <th><button onclick=Stvbutton() style="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;">7tv</button></th>
                        <th><button onclick=stats() style="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;">Stats</button></th>
                        <th><button onclick=moderation() style="background-color: transparent;outline: none;border: none;color:whitesmoke;font-weight: 1000;">Moderation</button></th>
                    </tr>
                </thead>
                </table>
            </center>
            <center>
                <table style = "position:relative; top:150px;left:0px; top:100px;" hidden id="7tv">
                    <thead>
                        <tr>
                            <th>Commands</th>
                            <th>Aliases</th>
                            <th>Description</th>
                            <th>Permission</th>
                            <th>Cooldown</th>
                            <th>More Info</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>add</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>Add an emote from search or from another chat<br>|add AYAYA or |add BRUHBRUHBRUH kattah <br> (Adding BRUHBRUHBRUH from kattah)</td> <!-- description -->
                        <td>7TV Editors</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>remove</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>Remove an emote from chat without going to the site</td> <!-- description -->
                        <td>7TV Editors</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tvalias</td> <!-- command name -->
                        <td>alias</td> <!-- aliases -->
                        <td>Alias an emote from chat without going to the site</td> <!-- description -->
                        <td>7TV Editors</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tvyoink</td> <!-- command name -->
                        <td>yoink</td> <!-- aliases -->
                        <td>yoink an emote from a chat (cant be used in own chat)</td> <!-- description -->
                        <td>7TV Editors</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tv</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>Get 7tv info of a user</td> <!-- description -->
                        <td>Everyone</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tvemote</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>Get 7tv emote info</td> <!-- description -->
                        <td>Everyone</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tvpfp</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>Get user's 7tv pfp</td> <!-- description -->
                        <td>Everyone</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tvsa</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>Check your 7tv subscription</td> <!-- description -->
                        <td>Everyone</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>ezgif</td> <!-- command name -->
                        <td>❌</td> <!-- aliases -->
                        <td>ezgif any 7tv/twitch emote</td> <!-- description -->
                        <td>Everyone</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
                    <tr>
                        <td>7tvrank</td> <!-- command name -->
                        <td>7tvr</td> <!-- aliases -->
                        <td>Check 7tv emote rank</td> <!-- description -->
                        <td>Everyone</td> <!-- permission -->
                        <td>5 Seconds</td> <!-- cooldown -->
                        <td>❌</td> <!-- click for more info -->
                    </tr>
            </table>
        </center>
            <center>
            <table style = "position:relative; top:150px;left:0px; top:100px;" hidden id="stats">
                <thead>
                    <tr>
                        <th>Commands</th>
                        <th>Aliases</th>
                        <th>Description</th>
                        <th>Permission</th>
                        <th>Cooldown</th>
                        <th>More Info</th>
                    </tr>
                </thead>
                <tr>
                    <td>accage</td> <!-- command name -->
                    <td>accountage</td> <!-- aliases -->
                    <td>Check your Twitch account age</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>isafk</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check if user is afk with supibot</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>bajcheck</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check a user's subage/followdate in forsen</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>10 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>bio</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check a user's bio</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>bored</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get stuff to do every 12hours</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>12 Hours</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>bot</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check if user has verified bot status</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>chatstats</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check channel's chatstats with StreamElements API</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>chatters</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check how many chatters</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>topclip</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get a channel's all time top clip</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>color</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check your color name and hex color code</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>csgo</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check your csgo stats</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>fcf</td> <!-- command name -->
                    <td>firstchannelfollower</td> <!-- aliases -->
                    <td>First ever follower in a channel</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>firstline</td> <!-- command name -->
                    <td>fl</td> <!-- aliases -->
                    <td>First message in a chat that is logged</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>followage</td> <!-- command name -->
                    <td>fa</td> <!-- aliases -->
                    <td>Check following date in a channel</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>fortnite</td> <!-- command name -->
                    <td>fn</td> <!-- aliases -->
                    <td>Check your fortnite stats</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>gambafrog</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check if user is gambafrog in Trainwreckstv's chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>search</td> <!-- command name -->
                    <td>google</td> <!-- aliases -->
                    <td>Search anything in google</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>help</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Bot help</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>info</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Gets basic info of a user</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>juicercheck</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check a user's subage/followdate in xQc</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>lastseen</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check lastseen of a user in a chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>level</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check user's DontAddThisBot level</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>minecraft</td> <!-- command name -->
                    <td>mc</td> <!-- aliases -->
                    <td>Get your first name in Minecraft</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>firstmod</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check the first ever mod in a chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>name</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check if a name is available on Twitch</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>pfp</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Grab a user's pfp</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>ping</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Bot Response</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>queencheck</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check a user's subage/followdate in pokimane</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>randombio</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get a random bio from the chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>randomline</td> <!-- command name -->
                    <td>rl</td> <!-- aliases -->
                    <td>Get a random message from a chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>randomstream</td> <!-- command name -->
                    <td>rs</td> <!-- aliases -->
                    <td>Get a random stream from Twitch</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>sillychamp</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get a random tweet from TwitchGibberish</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>recenttweet</td> <!-- command name -->
                    <td>rt</td> <!-- aliases -->
                    <td>Recent tweet of twitter user</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>roblox</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get basic Roblox account info</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>robloxgame</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Information of a Roblox game, (use place ID)</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>searchgame</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get live playercount of a steam game</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>smol</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>smol emotes</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>subage</td> <!-- command name -->
                    <td>sa</td> <!-- aliases -->
                    <td>Checek your subage in a chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>suggest</td> <!-- command name -->
                    <td>suggestion</td> <!-- aliases -->
                    <td>Send suggestions for the bot</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>support</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Support if you wanna help server cost</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>topgames</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Gets live playercount of top Steam games</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>trihard</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>TriHard</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>tweet</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Tweet anything, check your tweet <a href="https://www.twitter.com/twitchsayschat" target="_blank">Here</a></td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>stats</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get Twitch stats</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>twitter</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get basic info about a user's twitter info</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>uid</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Get a user's UID</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>uptime</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Uptime and information of a live stream</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>firstvip</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>First ever VIP in a chat</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>whathappen</td> <!-- command name -->
                    <td>wh</td> <!-- aliases -->
                    <td>Tells you what happened on that date of history.[Usage |wh (month) (day)] </td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>whispers</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Whispers popout</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>wolfram</td> <!-- command name -->
                    <td>query</td> <!-- aliases -->
                    <td>Query anything</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>history</td> <!-- command name -->
                    <td>❌</td> <!-- aliases -->
                    <td>Check name history of anyone, (Must be affiliate/partner)</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>twitchcon</td> <!-- command name -->
                    <td>tc</td> <!-- aliases -->
                    <td>Check if user is going to 2022 Amsterdam</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>
                <tr>
                    <td>karma</td> <!-- command name -->
                    <td>redditkarma, rk</td> <!-- aliases -->
                    <td>Check your reddit karma! BatChest</td> <!-- description -->
                    <td>Everyone</td> <!-- permission -->
                    <td>5 Seconds</td> <!-- cooldown -->
                    <td>❌</td> <!-- click for more info -->
                </tr>

        </table>
    </center>
<center>
        <table style = "position:relative; top:150px;left:0px; top:100px;" hidden id="moderation">
            <thead>
                <tr>
                    <th>Commands</th>
                    <th>Aliases</th>
                    <th>Description</th>
                    <th>Permission</th>
                    <th>Cooldown</th>
                    <th>More Info</th>
                </tr>
            </thead>
            <tr>
                <td>announce</td> <!-- command name -->
                <td>ann</td> <!-- aliases -->
                <td>Announce something in chat<p hidden id="announce"><img src="https://i.imgur.com/gJcMphI.gif"style="position:relative; left:0px; top:10px; width: 325px;height:100px;"></p></td> <!-- description -->
                <td><img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2" width="25px" style = "float: left">  <img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/2" width="25px" style = "float: center"></td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td><button onclick=announce() style ="background-color: transparent;outline: none;border: none;color:rgb(18, 219, 95);font-weight: 1000;font-family:montserrat, sans-serif;">Click Here</button></td> <!-- click for more info -->
            </tr>
            <tr>
                <td>restrict</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Restrict a user<p hidden id="restrict"><img src="https://i.imgur.com/qNm45Gq.gif"style="position:relative; left:0px; top:10px; width: 325px;height:100px;"></p></td> <!-- description -->
                <td><img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2" width="25px" style = "float: left">  <img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/2" width="25px" style = "float: center"></td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td><button onclick=restrict() style ="background-color: transparent;outline: none;border: none;color:rgb(18, 219, 95);font-weight: 1000;font-family:montserrat, sans-serif;">Click Here</button></td> <!-- click for more info -->
            </tr>
            <tr>
                <td>unrestrict</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>un-Restrict a user<p hidden id="unrestrict"><img src="https://i.imgur.com/57rFFRl.gif"style="position:relative; left:0px; top:10px; width: 325px;height:100px;"></p></td> <!-- description -->
                <td><img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2" width="25px" style = "float: left">  <img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/2" width="25px" style = "float: center"></td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td><button onclick=unrestrict() style ="background-color: transparent;outline: none;border: none;color:rgb(18, 219, 95);font-weight: 1000;font-family:montserrat, sans-serif;">Click Here</button></td> <!-- click for more info -->
            </tr>
            <tr>
                <td>massping</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>:tf:</td> <!-- description -->
                <td><img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/2" width="25px" style = "float: left"></td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>pyramid</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>pyramid command</td> <!-- description -->
                <td><img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2" width="25px" style = "float: left"><img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3" width="25px" style = "float: center"></td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>setprefix</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Set channel custom prefix</td> <!-- description -->
                <td> <img class="roles" src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/2" width="25px" style = "float: left"></td> <!-- permission --></td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>botjoin</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Bot join</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>botpart</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Bot part</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>eval</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>eval command</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>setlevel</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>setlevel command</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>offlineonly</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Set bot response to Offline Only</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>poroonly</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Set bot response to Poro cmds only</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>pull</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>pull commit</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>say</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Bot say command</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
            <tr>
                <td>echo</td> <!-- command name -->
                <td>❌</td> <!-- aliases -->
                <td>Bot echo command</td> <!-- description -->
                <td>Level 3</td> <!-- permission -->
                <td>5 Seconds</td> <!-- cooldown -->
                <td>❌</td> <!-- click for more info -->
            </tr>
    </table>
</center>
<center>
    <table hidden id="kekw3" style = "position:relative; top:450px;left:0px; top:50px;" >
        <thead>
            <tr>
                <td>If you have any suggestions please use the |suggest command!<img src="https://cdn.7tv.app/emote/60aeec1712d7701491f89cf5/4x"><br>
                <br>
            If you have any questions, contact <a href="https://www.twitch.tv/kattah" target="_blank" style="color:#00B9FA;font-family: montserrat, sans-serif;">@Kattah</a> or <a href="https://www.twitch.tv/fookstee" target="_blank" style="color:#94ECC7;font-family: montserrat, sans-serif;">@Fookstee</a> on Twitch</td>
            </tr>
            <td>If you wish for the bot to only type while Offline or Poro only commands use the suggest command</td>
            <tr>
                <td>If you had a name change, use the suggest command <a style="color:red">WITH</a> your old name</td>
            </tr>
        </thead>
        </table>
    </center>
    </html>
            
            