<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DontAddThisBot</title>
        <meta name="viewport" context="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
        <link rel="stylesheet" href="css/style2.css">
    </head>

    <body>
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>

        <div class="wrapper">
            <article class="img-info">
                <img class="poro" src="img/poroHappy.png">
                <a class="Datb" href="/">
                    <strong>DontAddThisBot</strong>
                </a>

                <a class="Leaderboard1" href="/leaderboard">Leaderboard</a>
                <a class="Commands" href="/commands">Commands</a>
                <a class="Search" href="/search">Search</a>
                <a class="API" href="https://haste.fuchsty.com/oqawayilir">API</a>
            </article>

            <article class="OtherRelated">
                <div class="Information">
                    <h3>DontAddThisBot</h3>
                    <p>is a multi-channel variety and utility fun bot.</p> 
                    <p>Active Channels: <%= channels %></p>
                    <p>Farmed Total Poros: <%= allPoros %></p>
                    <a class="login" href=/auth/twitch><img src="img/SignIn.png" width="317" height="46"></a>
                </div>
                <a class="DankSpin" href="/code"><img src="img/DankSpin.gif" width="350" height="350"/></a>
                <% if (channelEmbed != null) { %>
                    <article class="twitch-embed">
                        <div id="twitch" class="hide">
                        </div>
                        <h3 class="twitch-embed-text">
                            Check out <%= channelEmbed %> on Twitch,
                            <br>
                            That has DontAddThisBot added!
                        </h3>
                    </article>
                    <script type="text/javascript">
                        var options = {
                          channel: `<%-channelEmbed%>`,
                          width: 640,
                          height: 360,
                        };
                        var player = new Twitch.Player("twitch", options);
                    
                        player.addEventListener(Twitch.Player.READY, initiate)
                    
                        function initiate() {
                          player.addEventListener(Twitch.Player.ONLINE, handleOnline);
                          player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
                          player.removeEventListener(Twitch.Player.READY, initiate);
                        }
                    
                        function handleOnline() {
                          document.getElementById("twitch").classList.remove('hide');
                          player.removeEventListener(Twitch.Player.ONLINE, handleOnline);
                          player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
                          player.setMuted(false);
                        }
                    
                        function handleOffline() {
                          document.getElementById("twitch").classList.add('hide');
                          player.removeEventListener(Twitch.Player.OFFLINE, handleOffline);
                          player.addEventListener(Twitch.Player.ONLINE, handleOnline);
                          player.setMuted(true);
                        }
                    </script>
                    <% } %>
            </article>
        </div>
    </body>
</html>

