<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DontAddThisBot - Search</title>
        <meta name="viewport" context="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
        <link rel="stylesheet" href="css/style2.css">
    </head>

    <body>
        <div class="wrapper">
            <article class="img-info">
                <img class="poro" src="img/poroHappy.png">
                <a class="Datb" href="/">
                    <strong>DontAddThisBot</strong>
                </a>

                <a class="Leaderboard1" href="/leaderboard">Leaderboard</a>
                <a class="Commands" href="/commands">Commands</a>
                <a class="Search" href="/search">Search</a>
            </article>

            <article class="OtherRelated">
                <div class="Search">
                    <h3>Search for User</h3>
                    <form class="SearchUser" action="/channel" method="GET" style="text-transform:lowercase">
                    <input class="form-control" name="user" type="text" placeholder="Channel" style="max-width: 250px" autofocus="" required=""
                        maxlength="26">
                    <input class="btn btn-primary" type="submit" value="ðŸ”" ></form>
                    <img class="alien" src="img/AlienFeel.gif"width="140" height="140">
                </div>
            </article>
        </div>
    </body>
</html>
