<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
    <title>DontAddThisBot</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<script src="js/mainpage.js">
</script>
    <body>
    <div>
        <center>
            <table>
                <thead>

                <tr>
                    <img src="img/poroHappy.png"width="50" height="50"style = "position:relative; left:-350px; top:15px;text-align: center;right:0;">
                    <a style = "position:relative; left:-330px; top:0px;text-align: center;right:0;font-size: 20px" href="/"><strong>DontAddThisBot</strong></a>
                </tr>
                <tr>
                    <a href="/privacy" style = "position:relative; left:100px; top:0px;text-align: center;right:0;">Privacy</a>
                </tr>
                <tr>
                    <a href="/leaderboard" style = "position:relative; left:140px; top:0px;text-align: center;right:0;">Leaderboard</a>
                </tr>
                <tr>
                    <a href="/commands" style = "position:relative; left:180px; top:0px;text-align: center;right:0;">Commands</a>
                </tr>
                <tr>
                    <a href="/search" style = "position:relative; left:220px; top:0px;text-align: center;right:0;">Search</a>
                </tr>
                <tr>
                    <a  href=https://github.com/kattah7 target="_blank"><img src="img/githublogo.png"width="40" height="40"style = "position:relative; left:270px; top:10px;text-align: center;right:0;"></a>
                </tr>
                <tr>
                    <img onclick=openInfo() width="40" height="40"style = "position:relative; left:300px; top:10px;text-align: center;right:0;"src=<%= avatar %>>
                    <a  hidden id="openInfo" style = "position:relative; left:255px; top:35px;text-align: center;right:0;">Username: <%= username %></a>
                    <a  hidden id="openInfo2" style = "position:relative; left:105px; top:55px;text-align: center;right:0;">Level: <%= rank %></a>
                </tr>


                </thead>
            </table>
        </center>
        <center>
            <h1 style = "position:relative; left:-320px; top:150px;text-align: center;right:0;">DontAddThisBot <h2 style = "position:relative; left:-320px; top:120px;text-align: center;right:0;">is a multi-channel<br> variety and utility fun bot. </h2></h1>
            <h3 style = "position:relative; left:-320px; top:110px;text-align: center;right:0;">Active Channels: <%= channels %></h3>
            <h3 style = "position:relative; left:-320px; top:140px;text-align: center;right:0;">Type <a>|join</a> in <a href="https://www.twitch.tv/popout/dontaddthisbot/chat?popout=" target="_blank">DontAddThisBot</a><br>to add the bot. </h3>
            <h3 style = "position:relative; left:-320px; top:140px;text-align: center;right:0;">Type <a>|part</a> in <a href="https://www.twitch.tv/popout/dontaddthisbot/chat?popout=" target="_blank">DontAddThisBot</a><br>to part the bot. </h3>

            <h3 style = "position:relative; left:-320px; top:180px;text-align: center;right:0;">Contact <a style="color:#00B9FA " href="https://www.twitch.tv/kattah" target="_blank">@Kattah</a> if you are a moderator <br> wishing it to be added in a chat. </h3>

        <h2>
            <a href="/code">
                <input type="image" src="img/Spin.gif"width="350" height="350"style = "position:relative; left:250px; top:-270px;text-align: center;right:0;" name="saveForm" class="btTxt submit" id="saveForm" />
            </a>


        </h2>
        
        </center>
    </div>
    </body>
</html>
