<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DontAddThisBot - Authorize</title>
        <meta name="viewport" context="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_4c39207000564711868f3196cc0a8748/default/dark/4.0 ">
        <link rel="stylesheet" href="css/style2.css">
        <link rel="stylesheet" href="css/buttons.css">
    </head>

    <body>
        <script src="js/mainpage.js">
        </script>
        <script src="js/botcmds.js">
        </script>
        <div class="wrapper">
            <article class="img-info">
                <img class="poro" src="img/poroHappy.png">
                <a class="Datb" href="/">
                    <strong>DontAddThisBot</strong>
                </a>

                <a class="Leaderboard" href="/leaderboard">Leaderboard</a>
                <a class="Commands" href="/commands">Commands</a>
                <a class="Search" href="/search">Search</a>
                <a class="Github" href="https://github.com/kattah7" target="_blank">
                    <img src="img/githublogo.png">
                </a>
            </article>

            <article class="OtherRelated">
                <div class="dashboard">
                    <% if (poroOnly) { %>
                        <thead style = "position:relative; top:-10px;right:170px;"> <!-- if User has poroOnly enabled then checked -->
                            <form>
                                <a>PoroOnly</a>
                                <input id="poro" type="checkbox" class="toggle" checked> 
                            </form>
                        </thead>
                    <% } else { %>
                        <thead style = "position:relative; top:-10px;right:170px;">
                            <form>
                                <a>PoroOnly</a>
                                <input id="poro" type="checkbox" class="toggle" > <!-- if User has poroOnly dsiabled then unchecked -->
                            </form>
                        </thead>
                <% } %>
            </center>
        
            <center style = "position:relative; left:-30px; top:200px;text-align: center;right:0;">
                <% if (offlineOnly) { %>
                <thead style = "position:relative; top:-10px;right:170px;">
                    <form>
                        <a>OfflineOnly</a>
                        <input id="offline" type="checkbox" class="toggle" checked>
                    </form>
                </thead>
                <% } else { %>
                <thead style = "position:relative; top:-10px;right:170px;">
                    <form>
                        <a>OfflineOnly</a>
                        <input id="offline" type="checkbox" class="toggle" >
                    </form>
                </thead>
                <% } %>
                </div>
            </article>
        </div>
    </body>
</html>